@font-face {
	font-family: "yekanbakhweb";
	src: url("fonts/yekanbakh/YekanBakhFaNum-Thin.woff2") format("truetype");
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: "yekanbakhweb";
	src: url("fontsyekanbakh/YekanBakhFaNum-ExtraLight.woff2") format("truetype");
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: "yekanbakhweb";
	src: url("fonts/yekanbakh/YekanBakhFaNum-Light.woff2") format("truetype");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: "yekanbakhweb";
	src: url("fonts/yekanbakh/YekanBakhFaNum-Regular.woff2") format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "yekanbakhweb";
	src: url("fonts/yekanbakh/YekanBakhFaNum-Medium.woff2") format("truetype");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: "yekanbakhweb";
	src: url("fonts/yekanbakh/YekanBakhFaNum-SemiBold.woff2") format("truetype");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: "yekanbakhweb";
	src: url("fonts/yekanbakh/YekanBakhFaNum-Bold.woff2") format("truetype");
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: "yekanbakhweb";
	src: url("fonts/yekanbakh/YekanBakhFaNum-ExtraBold.woff2") format("truetype");
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: "yekanbakhweb";
	src: url("fonts/yekanbakh/YekanBakhFaNum-Black.woff2") format("truetype");
	font-weight: 900;
	font-style: normal;
}

// text colors
$textColorLight: #929292;
$textColorLighter: #a8a8a8;
$textColorDark: #003874;
$textColorLowSat: #505050;

//main colors
$mainColor: #d1ab66;
$mainColorDark: #054078;
$mainColorLight: #eeeeee;
$backColorDark2: #4f6dce;
$backColorDark3: #c94646;
$backColorDark4: #3c3c3c;
$backColorDark5: #14487f;
$backColorLight: #f2f2f2;
$backColorLight2: #989810;
$backColorLight3: #2b8b8e;




@mixin placeholder {
	&::-webkit-input-placeholder {@content}
	&:-moz-placeholder           {@content}
	&::-moz-placeholder          {@content}
	&:-ms-input-placeholder      {@content}  
}