@import 'sass/breakpoints';
@import 'sass/variables';
@import 'sass/source';

*{
	box-sizing: border-box;
	direction: rtl;
	// overflow-x: hidden !important;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
}
body{
    font-family: 'yekanbakhweb' !important;
    margin: 0;
    direction: rtl !important;
	overflow-x: hidden !important;
	width: 100% !important;
	font-size: 15px;
    padding: 0;
}
.mainView{
    max-width: 1280px;
    margin-left: auto !important;
    margin-right: auto !important;
    @include mvb{
        padding-right: 15px !important;
        padding-left: 15px !important;
    }
}